/*----------------------------------CONTENU DE INDEX.HTML*/
.conteneur {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	flex-basis: auto;
}

#titre {
	display: flex;
	justify-content: center;
	font-size: 400%;
}

#image {
	display: flex;
	justify-content: center;
}

#image img {
	height: 65%;
	width: 65%;
}

#contenu {
	font-size: 150%;
}

#texteprincipal {
	font-size:75%;
	text-align:center;
}
