/*----------------------------------CONTENU DE LA PAGE D'INDEX*/
body {
	background: 0;
}

#conteneur {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-basis: auto;
	height: 200%;
}

#titre {
	display: flex;
	justify-content: center;
	font-size: 300%;
}

.Theme {
	background: white;
	border: solid;
	margin: 0 0 5% 0;
	height: 10%;
}

.Theme img {
	float : left;
	max-width: 100%;
	max-height: 100%;
}

.fleche a img {
	height: 100%;
	width: 3%;
}