#conteneur h1 {
	text-align: center;
	font-size: 200%;
}

#conteneur h3 {
	text-align: center;
	font-size: 100%;
}

#conteneur img {
	max-width: 50%;
	max-height: 50%;
	display: block;
	margin: auto;
}

#conteneur p {
	text-align: justify;
	text-justify: auto;
	font-size: 120%;
}

#source {
    font-size : 55%;
    margin-bottom: 0.5%;
}