
#image1 {
    max-width: 60%;
    max-height: 70%;
    width : 50%;
    height : 10%;
    margin-top:2%;
}

.fleche a img {
    height: 100%;
    width: 3%;
}
/* -- Conteneurs flexbox de la page -- */

#conteneur {
    display : flex;
    flex-direction : row;
}
#conteneur2 {
    display : flex;
    flex-direction : row;
    margin-top:2%;
}

/* -- Titre et sous-titres -- */

#titre {
    text-align: center;
    font-size: 200%;
    color: black;
    margin-top:3%;
}

#soustitre {
    text-align: center;
    font-size: 130%;
    font-weight: normal;
    text-shadow: 1px 1px 1px grey;
    max-width: 80%;
    float:left;
}
#texte_intro {
    margin:2%;
    text-align :center;
    max-width: 80%;
    float:left;
    font-size :120%;
}

/* -- Texte de la page -- */

#texte1 {
    margin-left: 2%;
    margin-top: 2%;
}
#texte2 {
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 60%;
    text-align: center;
    font-size: 120%;
}

#video {
    float : right;
    max-height: 80%;
    margin-right:10px;
}

#source {
    font-size : 55%;
    margin-bottom: 0.5%;
}
