html, body {
	position: relative;
	padding: 0;
	height: 100%;
	font-family: "sans-serif", Optima, Verdana;
}

html {
	margin:0;
	background: linear-gradient(#8C6569, rgb(151, 151, 167), white);
	background-repeat: no-repeat;
}

body {
	margin:0 12%;
	background-color: white;
}

#page {
	display: flex;
	flex-direction: column;
	height: 100%;
	border: none;
}

div {
	margin: 0;
	padding: 0;
}


/*----------------------------------HEADER*/

#menu ul {
	padding: 0;
	margin: 0;
}

#menu li {
	list-style:none;
	color:#FFF;
	text-decoration:none;
}

#menu a {
	display: inline-block;
	width: 100%;
	text-align: center;
	text-decoration: none;
}

#menu a:hover {
	background-color: #B21526;
}

#menu ul li {
	line-height: 60px;
	float: left;
	background-color: #484848;
}

.BoutonPrinc {
	width:25%;
}

#menu ul li a {
	color: #FFF;
	font-size: 20px;
	text-decoration: none;
}

#menu ul li ul {
	list-style:none;
	display:none;
	width: 25%;
}

#menu ul li:hover ul {
	display: list-item;
	position: absolute;
}

#menu ul li:hover ul li {
	float: none;
}

/*----------------------------------BODY*/

body a {
	color: #B21526;
	text-decoration: none;
}

body a:visited {
	color: #7A7A7A;
}

body a:hover {
	color: #790C18;
	text-decoration: underline;
}

body a:active {
	color: #7A7A7A;
}

#conteneur {
	flex-grow: 1;
	padding: 1%;
}

table {
	display: block;
	margin: auto;
	border: medium solid #6495ed;
	border-collapse: collapse;
	table-layout: fixed;
	width: 50%;
}

thead th {
	font-family: monospace;
	border: thin solid #6495ed;
	width: 20%;
	background-color: #D0E3FA;
}

td {
	font-family: sans-serif;
	border: thin solid #6495ed;
	padding: 2% 0 2% 0;
	text-align: center;
}

caption {
	font-family: sans-serif;
}

.fleche {
	float : right;
}

.fleche a img {
	float: right;
	width: 5%;
	height: 5%;
}



/*----------------------------------FOOTER*/

footer {
	flex-shrink: 0;
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 10%;
	background: #9D9D9D ;
	border-top: solid;
	border-color: black;
	color: white;
}

footer img {
	max-height: 100%;
	max-width: 100%;
}

#conteneurNoms {
	width: 20%;
	height: 4rem;
	text-align: center;
}

#Noms {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

#conteneurContact {
	padding-left: 15%;
}

#conteneurContact p,h1 {
	font-size: 75%;
}

#Contact {
	text-decoration: underline;
}
